<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2010 Google Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="novoda.droidconuk2010"
    android:versionCode="17"
    android:versionName="0.18">

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="5" />

    <permission
        android:name="novoda.droidcon2010uk.permission.WRITE_SCHEDULE"
        android:protectionLevel="normal"
        android:label="@string/permission_write"
        android:description="@string/permission_write" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:debuggable="true">

        <activity
            android:name="novoda.droidcon2010uk.ui.HomeActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.ScheduleActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_schedule" />

        <activity
            android:name="novoda.droidcon2010uk.ui.BlocksActivity"
            android:theme="@style/Theme.IOSched">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- TODO: remove default? -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.droidconuk2010.block" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.TracksActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_tracks">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.droidconuk2010.track" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.TrackDetailActivity"
            android:theme="@style/Theme.IOSched">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.droidconuk2010.track" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.SessionsActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_sessions">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.droidconuk2010.session" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.SessionDetailActivity"
            android:theme="@style/Theme.IOSched">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.droidconuk2010.session" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.VendorsActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_vendors">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.droidconuk2010.vendor" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.VendorDetailActivity"
            android:theme="@style/Theme.IOSched">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.droidconuk2010.vendor" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.NotesActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_notes">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.droidconuk2010.note" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.NoteEditActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_note_edit"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.droidconuk2010.note" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.droidconuk2010.note" />
            </intent-filter>
        </activity>

        <activity
            android:name="novoda.droidcon2010uk.ui.AboutActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_about"
            android:configChanges="orientation|keyboardHidden" />
            
        <activity
            android:name="novoda.droidcon2010uk.ui.MapActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_map"
            android:configChanges="orientation|keyboardHidden" />

        <activity
            android:name="novoda.droidcon2010uk.ui.AmiandoActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_tickets"
            android:configChanges="orientation|keyboardHidden" />

        <activity
            android:name="novoda.droidcon2010uk.ui.StarredActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_starred" />

        <activity
            android:name="novoda.droidcon2010uk.ui.SearchActivity"
            android:theme="@style/Theme.IOSched"
            android:label="@string/title_search"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>

        <meta-data android:name="android.app.default_searchable" android:value="novoda.droidcon2010uk.ui.SearchActivity" />

        <service android:name="novoda.droidcon2010uk.service.SyncService" />
		<service android:name="novoda.droidcon2010uk.homewidget.CountdownWidget$Updater"/>
		<receiver android:name="novoda.droidcon2010uk.homewidget.CountdownWidget"
                  android:process=":otherPrivateProcess"
                  android:label="@string/app_name"
                  android:icon="@drawable/ic_launcher">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
		</receiver>
                  
        <provider
            android:name="novoda.droidcon2010uk.provider.ScheduleProvider"
            android:authorities="novoda.droidcon2010uk"
            android:writePermission="novoda.droidcon2010uk.permission.WRITE_SCHEDULE" />

    </application>
</manifest>
